<article class="section-card">
    {% if src %}
        <img src="{{src}}" alt="{{alt}}" />
    {% endif %}
    <div>
        <h2><a href="{{href}}">{{title}}</a></h2>
        {{content}} 
    </div>
</article>
